.about {
    text-align: center;
}

.about * a {
    text-decoration: none;
    color: #0366d6;
}

.about div a {
    color: pink;
}

.about div a:hover {
    color: #0366d6;
}

#third {
    position: absolute;
    padding-bottom: 10px;
}

#third * td {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    border-right: 1px dashed;
    border-bottom: 1px dashed;
}

#third * td.first {
    border-left: 1px dashed;
}

#third thead * td {
    border-top: 1px dashed;
}

#third * a:hover {
    color: pink;
}
