form.form {
    margin-top: 10px;
}

input.form, input.form2 {
    width: max-content;
    min-width: 300px;
    position: absolute;
    right: 10%;
    direction: rtl;
}

input.form.checkt, input.form.check {
    position: inherit;
    right: unset;
    direction: unset;
    min-width: unset;
}

button.form#submit {
    margin-top: 10px;
    position: absolute;
    right: 10%;
}
